<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTDMapper3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.toy.project.mapper.BoardMapper">
  
     <select id="boardList" resultType="com.toy.project.vo.BoardVO">
         SELECT * FROM boards
         ORDER BY id
     </select>
     
<!--      <insert id="insertBoard" parameterType="com.toy.project.vo.BoardVO"> -->
<!--      	INSERT INTO boards(title, contents, username) -->
<!--         VALUES(#{title}, #{contents}, #{username}) -->
<!--      </insert> -->
  
  </mapper>